@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";

@theme {
  --font-opensans: "Open Sans", "sans-serif";
  --font-orbitron: "Orbitron";
  --font-playfairDisplay: "Playfair Display";
}

html,
body,
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

/* Light Themes */
[data-theme="light-red"] {
  --primary: #171717;
  --primary-foreground: #ff512f;

  --secondary: #595959;
  --secondary-foreground: #f1f1f1;
}

[data-theme="light-zinc"] {
  --primary: #000000;
  --primary-foreground: #000000;

  --secondary: #595959;
  --secondary-foreground: #ffffff;

  #logo,
  #menu,
  #btn-menu,
  #btn-menu-nav {
    filter: invert(1);
  }

  #menu-nav {
    color: var(--secondary);
  }

  .line-video {
    background-color: var(--secondary);
  }
}

[data-theme="light-yellow"] {
  --primary: #222222;
  --primary-foreground: #ffc544;

  --secondary: #595959;
  --secondary-foreground: #f1e9dd;
}

[data-theme="light-blue"] {
  --primary: #222222;
  --primary-foreground: #008cff;

  --secondary: #595959;
  --secondary-foreground: #f1f1f1;
}

#image2 {
  transition: all 2s ease-in;
}

#image3 {
  transition: all 2s ease-out;
}

#image1 {
  transition: all 2s ease-in-out;
}

@layer components {
  .custom-underline {
    @apply underline underline-offset-2 decoration-[var(--primary-foreground)];
  }
  .square {
    @apply bg-[var(--primary-foreground)] hover:bg-[var(--secondary-foreground)] size-10 rounded-[2px];
  }
}

.section-tickers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .section-tickers {
    margin-top: 10px;
  }
}
@media (min-width: 769px) {
  .section-tickers {
    margin-bottom: 40px;
  }
}

.ticker {
  padding: 1vw;
  white-space: nowrap;
}

.ticker:first-child {
  background-color: var(--primary-foreground);
  transform: rotateZ(-2deg);
  scale: 1.1;
}

.ticker:last-child {
  background-color: #1f1f1f;
  transform: rotateZ(2deg);
  scale: 1.1;
}

.ticker-wrap {
  display: flex;
  gap: 20px;
}

.ticker-text {
  color: #000;
  font-size: clamp(40px, 4.375vw, 70px);
  font-weight: 600;
  letter-spacing: -0.02em;
}

.ticker:last-child .ticker-text {
  color: #fff;
}

.accent {
  color: #0000008f;
  font-family: "Caveat", cursive;
  font-weight: 500;
  font-size: 1.1em;
}

.ticker:last-child .accent {
  color: var(--primary-foreground);
}
